div(class="container-fluid")
  div(class="navbar-header")
    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
      span(class="sr-only")= 'Toggle navigation'
      span(class="icon-bar")
      span(class="icon-bar")
      span(class="icon-bar")
    if !isAuthenticated
      a(class="navbar-brand" href="/user/logIn")= 'Geolocalization'
    else
      a(class="navbar-brand" href="/")= 'Geolocalization'
    
  div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")     
    ul(class="nav navbar-nav navbar-right")
      if !isAuthenticated
        li
          a(href="/user/signup")= 'Sign up'
        li
          a(href="/user/logIn")= 'Log in'
      else
        li(class="dropdown")
          a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")= user.nombre
            span(class="caret")
          ul(class="dropdown-menu")
            li
              a(href="/user/logout")= 'Log out'
    